.comments_face {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-size: 14px;

    & .comments {
        background-color: #eeeff4;
        border-bottom: 2px solid #fff;
        padding: 10px;
    }

    & .comment-content {
        padding-left: 70px;
    }

    & .comment-status {
        font-size: 11px;
        cursor: pointer;
    }

    & .profile {
        float: left;
        width: 60px;
        margin-right: 10px;
    }

    & .comment-content img,
    & .profile img {
        width: 100%;
    }

    & .name {
        margin: 0;
    }

    & .comment-status span,
    & .name {
        color: #3b5998;
    }

    & .name,
    & .result {
        font-weight: 700;
    }
    
    & .name,
    & .profile {
        cursor: pointer;
    }

    & .main-content span {
        color: red;
    }

    & .clr {
        clear: both;
    }
}

.comment-textarea {
    width: 100%;
    border: 2px solid #ed9220;
    border-radius: 10px;
    min-height: 120px;
    margin-bottom: 10px;
    padding: 10px;

    &:focus {
        outline: none;
        background: #ed91201f;
    }
}

.comment-button {
    border: none;
    background: rgb(122, 104, 71);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    transition: opacity .3s;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.7;
    }
}