@media (max-width:767px) {
    .boxes {
        &>.try {
            width: 32.5%;

            &:nth-child(-n+4) {
                display: none;
            }
        }
    }
}

@media (max-width:479px) {
    .boxes {
        &.try {
            width: 32%;
        }
    }
}

@media (max-width:319px) {
    .boxes {
        &.try {
            width: 48%;

            &:nth-child(-n+5){
                display: none;
            }
        }
    }
}